{% extends "master.html" %}
{% load static %}


{% block title %}
  Home Page
{% endblock %}

{% block content %}
<!-- navbar -->
<nav class="navbar">
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <img src="../static/img/youtubrlogoo.png" class="logo" alt="">
    <div class="search-box">
        <input type="text" class="search-bar" placeholder="search">
        <button class="search-btn"><img src="../static/img/search.png" alt=""></button>
    </div>
    <div class="user-options">
      <img src="../static/img/video.PNG" class="icon" alt="">
      <img src="../static/img/grid.PNG" class="icon" alt="">
      <img src="../static/img/bell.PNG" class="icon" alt="">
      <div class="user-dp">
        <img src="../static/img/7 (9).JPG" alt="">
      </div>
    </div>
</nav>
<!-- end of navbar -->
<!-- --------------------------------------------------------------------- -->
<!-- sidebar -->
<div class="side-bar">
  <a href="#" class="links active"><img src="../static/img/home.PNG" alt="">Home</a>
  <a href="#" class="links"><img src="../static/img/explore.PNG" alt="">Explore</a>
  <a href="#" class="links"><img src="../static/img/subscription.PNG" alt="">Subscription</a>
  <hr class="seperator">
  <a href="#" class="links"><img src="../static/img/library.PNG " alt="">Library</a>
  <a href="#" class="links"><img src="../static/img/history.PNG" alt="">History</a>
  <a href="#" class="links"><img src="../static/img/your-video.PNG" alt="">Your Video</a>
  <a href="#" class="links"><img src="../static/img/watch-later.PNG" alt="">Watch Later</a>
  <a href="#" class="links"><img src="../static/img/liked video.PNG" alt="">Liked Videos</a>
  <a href="#" class="links"><img src="../static/img/show more.PNG" alt="">Show More</a>
</div>
<!-- end of sidebar -->
<!-- -------------------------------------------------------------------- -->
<!-- filters -->
<div class="filters">
  <button class="filter-options active">all</button>
  <button class="filter-options">CSS</button>
  <button class="filter-options">web development</button>
  <button class="filter-options">python</button>
  <button class="filter-options">entertainment</button>
  <button class="filter-options">marvel</button>
  <button class="filter-options">javascript</button>
  <button class="filter-options">artificial intelligence</button>
  <button class="filter-options">machine learning</button>
  <button class="filter-options">trending</button>
</div>
<!-- end of filters -->
<!-- -------------------------------------------------------------------- -->
<!-- videos -->
<div class="video-container">
    <!-- <div class="video">
      <img src="../static/img/7 (9).JPG" class="thumbnail" alt="">  
      <div class="content">
          <img src="../static/img/7 (9).JPG" class="channel-icon" alt="">
          <div class="info">
            <h5 class="title">youtube 2021 | create working youtube</h5>
            <p class="channel-name">modern web</p>
          </div>
      </div>      
    </div> -->
</div>
<!-- end of videos -->

{% endblock %}